<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <title>Search Books</title>
</head>
<body>
  <%- include('layout/header') %>
  <section id="content">
      <h3 class="page-title"> Search by Title or Author </h3>

      <form action="/searches" method="post">
        <input type="text" name="query" placeholder="Enter name..."/>
        <br>
        <label for="title">Title</label>
        <input type="radio" id="title" name="search_type" value="title" checked>
        <br>
        <label for="author">Author</label>
        <input type="radio" id="author" name="search_type" value="author">
        <br>
        <input type="submit" value="Search the Google Books API"></input>
      </form>
  </section>
</body>
</html>