<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="styles.css">
  <script defer src="app.js"></script>
  <title>Search Books</title>
</head>
<body>
  <%- include('layout/header') %>
  <section id="content">
      <h3 class="page-title"> Search by Title or Author </h3>

      <form action="/searches" method="post">
        <input type="text" name="query" placeholder="Enter name..."/>
        <br>
        <label for="title">Title</label>
        <input type="radio" id="title" name="search_type" value="title" checked>
        <br>
        <label for="author">Author</label>
        <input type="radio" id="author" name="search_type" value="author">
        <br>
        <input type="submit" value="Search the Google Books API"></input>
      </form>
  </section>
</body>
</html>