body {
  color:lawngreen;
  background-color: #7F7F7F;
}

#header {
  background-color: black;
}

h3.page-title {
  background-color: #222222;
  text-align: center;
}

form {
  text-align: center;
}

label {
  font-weight: 300%;
}

input:not([type=radio]) {
  background-color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: 300%;
}

input[type=submit] {
  background-color: black;
  color: white;
}